.button-register{
    background-color: aquamarine;
    margin: 10px;
    border-radius: 10px;
    border : none;
    font-weight: bold;
    cursor: pointer;
}

.button-delete{
    background-color: rgb(255, 127, 127);
    margin: 10px;
    border-radius: 10px;
    color: white;
    border : none;
    cursor: pointer;
}

.input-newContact:active{
    cursor: pointer;
    background-color: rgb(136, 53, 53);
}